.bar{
    height: 10vh;
    max-height: 100px;
    background-color: rgba(0,112,98,255);
}

.title{
    margin: 0 auto;
    font-weight: bolder;
    font-size: 30px;
    cursor: default;
    color: white;
}

.tab-button{
    margin: 10px;
    background-color: white !important;
    color: rgba(0,112,98,255) !important;
}

.background-image{
    width: 100%;
    height: 100%;
    opacity: 0.6;
    position: relative;
    left: 0;
    top: 0;
}

.body{
    height: 90vh;
}

.container::before{
    content: "";
    overflow: hidden;
    background-image: url("../assets/image8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 10vh;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 90vh;
    opacity: 0.3;
}