<div class="container">
  <div>
    <mat-toolbar class="bar">
      <h1 class="title">oEsporte</h1>
      <button (click)="redirectToHome()" mat-mini-fab class="tab-button">
        <mat-icon>home</mat-icon>
      </button>
      <button (click)="redirectToEventos()" style="background-color: lightgray !important; color: gray !important;" disabled mat-mini-fab class="tab-button">
        <mat-icon>event</mat-icon>
      </button>
      <button (click)="redirectToLocais()" mat-mini-fab class="tab-button">
        <mat-icon> place</mat-icon>
      </button>
    </mat-toolbar>
  </div>
  <body class="body">
    <router-outlet></router-outlet>
  </body>
</div>