.div-body{
    width: 100%;
    position: absolute;
    margin: auto;
    height: 90vh;
}

.div-left{
    background-color: white;
    width: 30%;
    height: 100%;
    box-shadow: 5px 5px 5px lightgray;
    display: inline;
    float: left;
}

.list-option{
    height: auto !important;
    padding: 20px;
}

.list{
    overflow-y: initial;
    overflow-x: hidden;
    max-height: 88vh;
    padding-top: 0;
}

mat-list-option[aria-selected="true"] {
    background: #d1fded;
}

.title-list{
    font-weight: bolder;
    color: black;
}

.icon-list{
    color: black;
    /*border-color: black;
    border-width: 2px;
    border-radius: 50%;
    border-style: solid;*/
    font-size: 5vh;
    width: auto;
    height: auto;
}

.div-icon-option{
    width: 10%;
    height: auto;
    display: inline;
    float: left;
}

.div-text-option{
    width: 90%;
    display: inline;
    float: right;
    position: relative;
    text-align: center;
}

.sub-title-list{
    color: black;
}

.information-lable-list{
    position: relative;
    font-weight: bolder;
    font-size: 13px;
    color: black;
}

.information-text-list{
    position: relative;
    font-size: 13px;
    color: black;
    margin-left: 3px;
    text-align: left;
}

.div-information-list{
    position: relative;
    float: left;
    white-space: normal;
    text-align: left;
    margin-top: 10px;
    width: 100%;
}

.icon-title-list{
    transform: translateY(20%); 
}

.div-right{
    display: inline;
    float: right;
    width: 60%;
    margin-right: 5%;
    height: 90%;
    max-height: 90%;
    overflow-y: initial;
    overflow-x: hidden;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    background-color: white;
    /*opacity: 0.8;*/
    border-radius: 30px;
    box-shadow: 5px 5px 5px lightgray;
}

.box-title{
    display: flex;
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.text-title{
    margin: 0 auto;
    font-weight: bolder;
    font-size: 40px;
}

.icon-title-box{
    height: auto;
    width: 40px;
    font-size: 40px;
    transform: translateY(15%); 
}

.content-infos{
    height: 40%;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-infos-left{
    display: inline;
    float: left;
    height: 100%;
    width: 46%;
    overflow-y: initial;
    overflow-x: hidden;
    margin-left: 2%;
    margin-right: 2%;
}

.content-infos-right{
    display: inline;
    float: right;
    height: 100%;
    width: 46%;
    margin-left: 2%;
    margin-right: 2%;
    overflow-x: hidden;
    overflow-y: initial;
}

.div-information-content{
    white-space: normal;
    text-align: left;
    margin-top: 10px;
    width: 100%;
}

.information-lable-content{
    position: relative;
    font-weight: bolder;
    font-size: 15px;
    color: black;
}

.information-text-content{
    position: relative;
    font-size: 13px;
    color: black;
    margin-left: 3px;
    text-align: justify;
}

.text-description{
    font-size: 12px;
}

.description{
    width: 90%;
    margin: 0 auto;
}

.content-images{
    width: 96%;
    margin-left: 2%;
    margin-top: 20px;
    padding-bottom: 10px;
}

.option-list-information{
    color: black;
    font-size: 12px;
}

.list-information{
    max-height: 12vh;
    overflow-y: initial;
    overflow-x: hidden;
    width: 80%;
}

.clean-button{
    float: right;
    background-color: rgba(0,112,98,255);
    box-shadow: 0 0 0 black;
}

mat-spinner{
    margin: auto;
    transform: translateY(-50%); 
    top: 50%
}