<div class="div-body">
    <button mat-flat-button disabled (click)="redirectToEventos()" style="box-shadow: none" class="center-button">
        <div>
            <mat-icon class="icon-center-button" style="color: gray !important;"> event</mat-icon>
        </div>
        <div class="div-text-button">
            <span class="text-button" style="color: gray !important;">Eventos</span>
        </div>
    </button>
    <button mat-flat-button (click)="redirectToLocais()" class="center-button">
        <div>
            <mat-icon class="icon-center-button"> place</mat-icon>
        </div>
        <div class="div-text-button">
            <span class="text-button">Locais</span> 
        </div>
    </button>
</div>
